<!-- Account -->
<template name="account">
    <h2><span class="glyphicon glyphicon-cog"></span> {{ currentUser.username }} </h2>
    <hr/>

    <p>
        User Id:
    </p>
    <pre>{{ currentUser._id }}</pre>
    <p>
        Api Secret:
    </p>
    <pre>{{ currentUser.profile.apiSecret }}</pre>
    <p>
        Api Token:
    </p>
    <pre>{{ currentUser.profile.apiToken }}</pre>

    <form role="form" class="new-tokens">
        <button type="submit" class="btn btn-default">Create New Token</button>
    </form>

</template>