<!-- Actions -->
<template name="actions">
    <h2><span class="glyphicon glyphicon-play"></span> Actions</h2>
    <hr/> {{#each actions}}
    <h3>
        <a href="{{pathFor route='actions.show'}}">{{action}}
        </a>
        ({{itemCount}})
        <button class="delete btn btn-danger btn-xs">Delete</button>
    </h3> {{/each}}
</template>

<template name="actions_show">
    <h2><span class="glyphicon glyphicon-play"></span> {{ action.action }} ({{action.itemCount}})</h2>
    <hr/> {{#each items }} {{> item}} {{/each}}
</template>

<template name="actions_menu">
    {{#each actions}}
    <h4>
            <a href="{{pathFor route='actions.show'}}">{{action}}</a>
        ({{itemCount}})</h4> {{/each}}
</template>
