<!-- Actors -->
<template name="actors">
    <h2><span class="glyphicon glyphicon-user"></span> Actors</h2>
    <hr/> {{#each actors}}
    <h3>
        <a href="{{pathFor route='actors.show'}}">{{actor}}</a> 
        ({{itemCount}})
        <button class="delete btn btn-danger btn-xs">Delete</button>
    </h3> {{/each}}
</template>

<template name="actors_show">
    <h2><span class="glyphicon glyphicon-user"></span> {{actor.actor}} ({{actor.itemCount}})</h2>
    <hr/> {{#each items }} {{> item}} {{/each}}
</template>

<template name="actors_menu">
    {{#each actors}}
    <h4>
            <a href="{{pathFor route='actors.show'}}">{{actor}}</a>
    ({{itemCount}})        
</h4> {{/each}}
</template>

<template name="actors_stats">
    {{#each actors}}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2><a href="{{pathFor route='actors.show'}}">{{actor}}</a></h2>
        </div>
        <div class="panel-body">
            <h3>Total: {{itemCount}}</h3>
            <h4>Today: xxx</h4> 
        </div>
    </div>
    {{/each}}

</template>