<template name="ApplicationLayout">

    <head>
        <meta charset="utf-8">
        <title>Firework - Real-time Logging App for IOT and websites</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>

        {{> navbartemplate }}

        <div class="container">
            <div class="row">
                {{#if currentUser}}

                <div class="col-md-3 hidden-xs hidden-sm">

                    <div class="panel panel-default">
                        <div class="panel-heading"><span class="glyphicon glyphicon-user"></span> Actors
                        </div>
                        <div class="panel-body">
                            {{> actors_menu}}
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading"><span class="glyphicon glyphicon-play"></span> Actions
                        </div>
                        <div class="panel-body">
                            {{> actions_menu}}
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading"><span class="glyphicon glyphicon-cog"></span> Units
                        </div>
                        <div class="panel-body">
                            {{> units_menu}}
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading"><span class="glyphicon glyphicon-stats"></span> Stats
                        </div>
                        <div class="panel-body">
                            <p>
                                Total Items: {{totalCount}}
                            </p>
                        </div>
                    </div>

                </div>

                <div class="col-md-9" id="main">
                    {{> yield}}
                </div>
                {{else}}
                <div class="col-md-12" id="main">
                    {{> yield}}
                </div>
                {{/if}}
            </div>

            <div class="row">
                <div class="col-md-12">
                    <hr/>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <ul class="list-unstyled">
                        <li><a href="http://nevill.net/privacy/">Privacy Statement</a>
                        </li>
                        <li><a href="/">About</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-unstyled">
                        <li><a href="https://github.com/JeremyNevill/firework">Firework Github Repo</a>
                        </li>
                        <li><a href="http://docs.firework.com">Documentation</a>
                        </li>
                        <li><a href="http://docs.firework.com/v1.0/discuss">Support</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-unstyled">
                        <li>Copyright (c) 2012-2016</li>
                        <li><a href="http://nevill.net">Jeremy Nevill</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</template>


<!-- Timeline -->
<template name="timeline">
    <h2><span class="glyphicon glyphicon-time"></span> Timeline</h2>
    <hr/> {{#each items}} {{> item}} {{/each}}
</template>


<!-- 404 -->
<template name="notFound">
    <div class="not-found jumbotron">
        <h2>404</h2>

        <p>Sorry, we couldn't find a page at this address.</p>
    </div>
</template>