<template name="home">

    <div class="jumbotron">
        <div class="container">
            <h1 class="text-center"><a href="/"><span class="glyphicon glyphicon-fire"></span> Firework</a></h1>
            <p class="text-center">
                Real-time Logging App for IOT and websites
            </p>
        </div>
    </div>
    <div>
        <h2 class="text-center">Real-Time Dashboard</h2>

        <p class="text-center">
            View log items on a real-time dashboard that updates across all clients.
        </p>
        <hr/>
    </div>
    <div>
        <h2 class="text-center">Logging API</h2>

        <p class="text-center">
            Create log items via the rest API.
        </p>
        <p class="text-center">
            If you can post json from your IOT device or website then Firework can log it.
        </p>

        <p class="text-center">
            Example json:
            <br/> { actor:"Fred", action:"ran", amount:4, units:"kms", date:"01/Jan/2015" }
        </p>
        <hr/>
    </div>
    <div>
        <h2 class="text-center"><a href="http://firework.com">Hosted</a></h2>
        <p class="text-center">
            Register for free at <a href="http://firework.com">Firework.com</a>
        </p>
        <p class="text-center">
            Starter plans are free, migrate to a pro or on-premise solution at any time.
        </p>
        <p class="text-center">Note: Firework is currently in Alpha.</p>
        <hr/>
    </div>
    <div>
        <h2 class="text-center"><a href="https://github.com/JeremyNevill/firework">On-Premise</a></h2>

        <p class="text-center">
            Host Firework on-premise for free.
        </p>
        <p class="text-center">
            Firework is open source, download from <a href="https://github.com/JeremyNevill/firework">GitHub</a>.
        </p>

    </div>

</template>
