<template name="home">

    <div class="jumbotron">
        <div class="container">
            <h1 class="text-center"><span class="glyphicon glyphicon-fire"></span> Firework</h1>
            <p class="text-center">
                Real-Time Logging and Analytics
            </p>
        </div>
    </div>
    <div>
        <h2 class="text-center">Real-Time Dashboard</h2>

        <p class="text-center">
            View log items on a real-time dashboard that updates across all clients.
        </p>
        <hr/>
    </div>
    <div>
        <h2 class="text-center">Logging API</h2>

        <p class="text-center">
            Create log items via the rest API.
        </p>
        <p class="text-center">
            If you can post json from your IOT device or website then Firework can log it.
        </p>

        <p class="text-center">
            Example json:
            <br/> { actor:"Fred", action:"ran", amount:4, units:"kms", date:"01/Jan/2015" }
        </p>
        <hr/>
    </div>
    <div>
        <h2 class="text-center">Hosted Version</h2>
        <p class="text-center">
            Register for free and use the official hosted product at <a href="http://firework.com">Firework.com</a>
        </p>
        <p class="text-center">
            Starter plans are free and you will be able to migrate to a pro plan or self hosted solution at any time.
        </p>
        <p class="text-center">Note: Firework is currently in Alpha.</p>
        <hr/>
    </div>
    <div>
        <h2 class="text-center">On-Premise Version</h2>

        <p class="text-center">
            Prefer to host your own Firework instance?
        </p>
        <p class="text-center">
            Firework is Open Source, under the MIT Licence.
        </p>
        <p class="text-center">
            Get the source code from <a href="https://github.com/JeremyNevill/firework">GitHub</a>.
        </p>
    </div>

</template>
