<!-- Units -->

<template name="units">
    <h2><span class="glyphicon glyphicon-large"></span> Units</h2>
    <hr/> {{#each units}}
    <h3>
        <a href="{{pathFor route='units.show'}}">{{unit}}
        </a>
        ({{itemCount}})
        <button class="delete btn btn-danger btn-xs">Delete</button>
    </h3> {{/each}}
</template>


<template name="units_menu">
    {{#each units}}
    <h4>       
    <a href="{{pathFor route='units.show'}}">{{unit}}
        
     </a>
     ({{itemCount}})
        </h4> {{/each}}
</template>

<template name="units_show">
    <h2><span class="glyphicon glyphicon-cog"></span> {{ unit.unit }} ({{unit.itemCount}})</h2>
    <hr/> {{#each items }} {{> item}} {{/each}}
</template>